<div class="container">
    <div class="row py-3 px-3">
        <div class="col-lg-6">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSdBx6FH-CxOl_WFKmJekDhoMX940T4gK6CUmUyfR-W1kdyOgQ/viewform?embedded=true"
                width="640" height="821" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        </div>

        <div class="col-lg-6">
            <div class="row text-start">
                <label>ING. JENNIFER JIMÉNEZ B.</label>
                <label>DIRECTORA DE VENTAS Y SERVICIOS</label>
            </div>
            <div class="row">
                <div style="display: flex; flex-direction: column;" class="col-lg-6 ">
                    <div class="d-flex py-3">
                        <img src="../../../../assets/contact-us/wp-logo.jpg" />

                        <label>57+310 207 4664</label>
                    </div>
                    <div class="d-flex py-3">
                        <img src="../../../../assets/contact-us/tel-logo.jpg" />
                        <label>601+797 8685</label>
                    </div>
                    <div class="d-flex py-3">
                        <img src="../../../../assets/contact-us/email-logo.jpg" />
                        <label>comercial&commat;jimedical.com</label>
                    </div>

                </div>
                <div class="col-lg-6  d-flex align-items-center">
                    <div>
                        <img src="../../../../assets/contact-us/qr-wp.jpg" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>