<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/carousel/image1.jpg" class="d-block img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/carousel/image2.jpg" class="d-block  img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/carousel/image3.jpg" class="d-block  img-fluid" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button #buttonNextCarousel class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="row py-3 my-3">
        <h1>Nuestros servicios</h1>
        <div class="col-2"></div>
        <div class="col-lg-8 col-12">
            <p style="text-align: justify;">{{texttUs}}</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="container">
    <div class="row ">


        <div *ngFor="let item of homeInfo " class="col-lg-3 col-12 py-4 d-flex justify-content-center text-center">
            <div class="card" style="width: 18rem;">
                <div>
                    <img class="card-img-top" [src]="item.imageUrl" class="text-center" style="max-width: 50%;"
                        alt="Card image cap">
                </div>

                <div class="card-body">
                    <h5 class="card-title text-start">{{item.title}}</h5>
                    <ul class="bullet-points">
                        <li *ngFor="let item2 of item.items" c>
                            <p class="card-text text-start">{{item2}}</p>
                        </li>
                    </ul>
                  
                </div>
            </div>
        </div>

    </div>
</div>